@{
    Layout = "_LoginLayout";
}

<div class="login-background">
    <div style="display:flex;">
        <form class="login-form">
            <img src="~/img/Lock.webp" alt="lock, Login" class="login-icon" />

            <div class="login-field">
                <label for=" username">User:</label>
                <input type="text" placeholder="Username" name="username" class="login-input" required>
            </div>

            <div class="login-field">
                <label for="password">Password:</label>
                <input type="password" placeholder="Password" name="password" class="login-input" required>
            </div>
            
            <div class="login-field">
                <label for="firstName">Name:</label>
                <input type="text" placeholder="First name" name="lastName" class="login-input" required />
            </div>

            <div class="login-field">
                <label for="lastName">Last name:</label>
                <input type="text" placeholder="Last name" name="lastName" class="login-input" required />
            </div>

            <div class="login-field">
                <label for="birthDay">Birth day:</label>
                <input type="date" placeholder="Birth day" name="birthDay" class="login-input" required />
            </div>

            <div class="login-field">
                <label for="phoneNumber">Phone number:</label>
                <input type="tel" placeholder="Phone number" name="phoneNumber" class="login-input" required />
            </div>

            <div class="login-field">
                <label for="warehouse">Assigned warehouse:</label>
                <input type="text" placeholder="Warehouse" name="AssignedWarehouse" class="login-input" required />
            </div>

            <div class="login-field">
                <label for="role">Admin privilegies:</label>
                <input type="checkbox" name="userRole" class="login-input" required />
            </div>

            

            <button type="submit" class="login-button">Login</button>

        </form>
    </div>
</div>

<style>
    .login-background {
        height: 100vh;
        width: 100vw;
        background-image: url('img/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .login-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .login-icon {
        width: 25%;
        margin: 0 0 50px 0;
    }

    .login-field {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;
        width: 40%;
    }

        .login-field label {
            margin-right: 10px;
            color: white;
            font-weight: bold;
            min-width: 100px; /* asegura que queden alineados */
            text-align: center;
        }

    .login-input {
        width: 40%;
        background-color: transparent;
        color: lightgray;
        border: 1.5px solid white;
        border-radius: 5px;
    }

        .login-input::placeholder {
            color: lightgray;
            text-align: center;
        }

        .login-input:focus {
            outline: none;
            box-shadow: none;
        }

    .login-button {
        width: 40%;
        color: midnightblue;
        background-color: rgba(255, 255, 255, 255);
        border: 1.5px solid white;
        border-radius: 5px;
    }
</style>